Repository 6Coders/ChatSQL, pull requests merged in 2024-05, with the labels that each got.

#53 Upload dizionari close #49, close #45
  __init__.py
  backend/chatsql/adapter/incoming/web/ManagerController.py
  backend/chatsql/adapter/outcoming/persistance/JSONRepositoryAdapter.py
  backend/chatsql/application/JSONManagerService.py
  backend/chatsql/application/port/incoming/InserimentoDizionarioUseCase.py
  backend/chatsql/application/port/outcoming/persistance/BaseJSONRepository.py
  backend/chatsql/utils/Exceptions.py
  backend/main.py
Labels: backend

#61 Test correct
  frontend/jest.config.js
  frontend/src/components/InputFile.vue
  frontend/src/components/LoadButton.vue
  frontend/src/components/ToastPopup.vue
  frontend/tests/unit/__snapshots__/sendrequestbutton.spec.js.snap
  frontend/tests/unit/__snapshots__/viewgeneratedprompts.spec.js.snap
  frontend/tests/unit/inputfile.spec.js
  frontend/tests/unit/loadbutton.spec.js
  frontend/tests/unit/redirectbutton.spec.js
  frontend/tests/unit/requestviewmodel.spec.js
  frontend/tests/unit/toastpopup.spec.js
  frontend/tests/unit/uploadbutton.spec.js
  frontend/tests/unit/viewdictionary.spec.js
Labels: frontend

#73 Aggiornato il funzionamento del Toast su Manager e formattati i docum…
  frontend/src/App.vue
  frontend/src/components/DeleteButton.vue
  frontend/src/components/InputFile.vue
  frontend/src/components/InputRequest.vue
  frontend/src/components/LoadButton.vue
  frontend/src/components/Navbar.vue
  frontend/src/components/SendRequestButton.vue
  frontend/src/components/ToastPopup.vue
  frontend/src/components/UploadButton.vue
  frontend/src/components/ViewDictionary.vue
  frontend/src/model/MManager.js
  frontend/src/model/MRequest.js
  frontend/src/viewmodel/VMManager.js
  frontend/src/views/HomePage.vue
  frontend/src/views/ManagerPage.vue
  frontend/src/views/RequestPage.vue
  frontend/tests/unit/inputfile.spec.js
  frontend/tests/unit/managermodel.spec.js
  frontend/tests/unit/managerpage.spec.js
  frontend/tests/unit/managerviewmodel.spec.js
  frontend/tests/unit/requestmodel.spec.js
  frontend/tests/unit/requestviewmodel.spec.js
  frontend/tests/unit/sendrequestbutton.spec.js
  frontend/tests/unit/toastpopup.spec.js
  frontend/tests/unit/viewgeneratedprompts.spec.js
Labels: enhancement, frontend

#76 Migliorato layout mobile nelle tre pagine
  .gitignore
  frontend/src/components/ViewDictionary.vue
  frontend/src/components/ViewGeneratedPrompts.vue
  frontend/src/views/HomePage.vue
  frontend/src/views/RequestPage.vue
Labels: frontend

#80 Fix Generazione Prompt Backend
  backend/chatsql/adapter/incoming/EmbeddingGeneratorAdapters.py
  backend/chatsql/adapter/incoming/SearchAlgorithmAdapters.py
  backend/chatsql/adapter/incoming/web/ManagerController.py
  backend/chatsql/adapter/incoming/web/QueryController.py
  backend/chatsql/adapter/outcoming/persistance/EmbeddingRepositoryAdapter.py
  backend/chatsql/adapter/outcoming/persistance/JSONRepositoryAdapter.py
  backend/chatsql/application/EmbeddingManager.py
  backend/chatsql/application/EmbeddingSaver.py
  backend/chatsql/application/PromptService.py
  backend/chatsql/application/port/incoming/LoadDizionarioUseCase.py
  backend/chatsql/application/port/outcoming/EmbeddingGeneratorPort.py
  backend/chatsql/domain/Embedding.py
  backend/main.py
Labels: backend
